
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My ToDo</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'scrumboard/css/scrumboard.css' %}">
</head>
<body ng-app="scrumboard.demo">

    {% verbatim %}
    <div ng-controller="ScrumboardController">
        <!--{{person.name}} is {{person.age }} years old.-->
        <div class="list" ng-repeat="list in data">
                <h1>{{list.name}}</h1>
            <ul>
                <li ng-repeat="card in list.cards">
                    <scrumboard-card></scrumboard-card>
                </li>
            </ul>
            <div class="flex">
                <input type="text" ng-model="new_title"/>
                <button ng-click="add(list, new_title)">+</button>
            </div>
        </div>
    </div>
    {% endverbatim %}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    {% load static %}
    <script src="{% static 'scrumboard/scrumboard.js' %}"></script>
    <script src="{% static 'scrumboard/card.directive.js' %}"></script>
</body>
</html>