<div class="card" ng-hide="edit" ng-click="edit=true">
    <button class="cross" ng-click="delete()">x</button>
    <h4> {{ card.title }} </h4>
    <span class="description"> {{ card.description }} </span>
</div>

<div class="card" ng-show="edit"
     ng-model-options="modelOptions">
    <div class="flex">
        <input type="text"
               ng-model="card.title"
               ng-change="update()" />
    </div>
    <textarea class="description"
              ng-model="card.description"
              placeholder="Enter description.."
              ng-change="update()"></textarea>

    <br/>

    <button ng-click="edit=false">Close</button>

</div>